<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-5 col-xl-5">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-12">-->
              <div class="p-5">
                <div class="text-center">
                  <h4 class="text-dark mb-4">Welcome!</h4>
                </div>
                <form [formGroup]="myForm" class="user">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <input type="text" name="firstName" id="firstName" class="form-control" required placeholder="Enter your first name..." formControlName="firstName">
                        </div>
                        <small class="form-text" style="color: red; text-align: right" *ngIf="firstName.invalid && firstName.touched">
                          This field is required!
                        </small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <input type="text" name="lastName" id="lastName" class="form-control" required placeholder="Enter your last name..." formControlName="lastName">
                        </div>
                        <small class="form-text" style="color: red; text-align: right;" *ngIf="lastName.invalid && lastName.touched">
                          This field is required!
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <input type="text" name="userName" id="userName" class="form-control" required placeholder="Enter your user name..." formControlName="userName">
                      </div>
                      <small class="form-text" style="color: red; text-align: right" *ngIf="userName.invalid && userName.touched">
                        This field is required!
                      </small>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <input type="number" name="age" id="age" class="form-control" required placeholder="Enter your age..." formControlName="age">
                      </div>
                      <small class="form-text" style="color: red; text-align: right" *ngIf="age.invalid && age.touched">
                        This field is required!
                      </small>
                      <small class="form-text" style="color: red; text-align: right"*ngIf="age.errors?.min && age.touched">
                        {{ age.errors.min.actual }} is young to this app Kiddo!
                      </small>
                      <small class="form-text" style="color: red; text-align: right" *ngIf="age.errors?.max && age.touched">
                        {{ age.errors.min.actual }} is too you old to use this app Gramps!
                      </small>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <input type="email" name="email" class="form-control" id="email" required placeholder="Enter your email address... " formControlName="email">
                      </div>
                      <small class="form-text" style="color: red; text-align: right" *ngIf="email.invalid && email.touched">
                        Enter a valid email please!
                      </small>
                    </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <input type="password" name="password" id="password" class="form-control" required placeholder="Enter your password..." formControlName="password">
                        </div>
                        <small class="form-text" style="color: red; text-align: right" *ngIf="password.invalid && password.touched">
                          Enter a valid password please!
                        </small>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group row">
                        <div class="col-lg-12">
                          <input type="password" name="rpassword" id="rpassword" class="form-control" required placeholder="Repeat password..." formControlName="rpassword">
                        </div>
                        <small class="form-text" style="color: red; text-align: right" *ngIf="rpassword.invalid && rpassword.touched">
                          Password doesn't match!
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <div class="form-check">
                        <mat-checkbox formControlName="agree" color="primary">Accept tearms of use</mat-checkbox>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <button class="btn btn-primary btn-block text-white btn-user"
                              type="submit"
                              (click)="register(myForm.value)"
                              [disabled]="myForm.invalid" >
                        Register</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <a class="btn btn-danger btn-block text-white btn-google btn-user"
                        role="button">
                        <i class="fa fa-google" aria-hidden="true"></i>
                         Register with Google</a>
                    </div>
                  </div>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="#" data-toggle="modal" data-target="#modal-link">Sign In</a>
                </div>
                <hr>
              </div>
           <!-- </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->




