
  <h1 class="btn-primary"  style="text-align: center" href="#" data-toggle="modal" data-target="#modal-link-forgot">Nsét mdp ta3i</h1>

<div *ngIf="isAuth" id="modal-link-forgot" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <h3 style="text-align: center; color: blue; font: italic">Forgot Your Password?</h3><hr>
        <p style="text-align: center">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
        <hr><br>
        <form [formGroup]="myForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="email" name="email" class="form-control" id="email" required placeholder="Enter your email address... " formControlName="email">
                </div>
                <small class="form-text" style="color: red; text-align: center" *ngIf="email.invalid && email.touched">
                  Enter a valid email please!
                </small>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary btn-block text-white btn-user"
                      data-toggle="modal" data-target="#modal-link-code"
                      type="submit"
                      (click)="Reset(myForm.value)">
                Send Email</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <!-- Sent Code-->
<div id="modal-link-code" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <h3 style="text-align: center; color: blue; font: italic">Forgot Your Password?</h3><hr>
          <p style="text-align: center">Put the code we have sent to you</p>
          <hr><br>
          <!--<form [formGroup]="myForm">-->
            <div class="row">
              <div class="col-lg-6 mx-lg-auto">
                <div class="form-group row">
                  <div class="form-group">
                    <input  class="form-control" name="code" id="code" formControlName="code" placeholder="7ot zok om il code lenna">
                  </div>
                  <small class="form-text" style="color: red; text-align: center" *ngIf="code.invalid && code.touched">
                    Enter a valid email please!
                  </small>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-block text-white btn-user"
                        type="submit"
                        (click)="Reset(myForm.value)">
                  Reset Password</button>
              </div>
            </div>
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>
