
                 <div class="p-5" *ngIf="hasAnAccount">
                  <div class="text-center">
                    <h4 class="text-dark mb-4">Welcome Back!</h4>
                  </div>
                  <form [formGroup]="myForm" class="user">
                    <div class="form-group row">
        
                      <div class="col-lg-12">
                        <input type="email" name="email" class="form-control" id="email" required placeholder="Enter your email address... " formControlName="email">
                      </div>
                      <small class="form-text" style="color: red; text-align: center" *ngIf="email.invalid && email.touched">
                        Enter a valid email please!
                      </small>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-12">
                        <input type="password" name="password" id="password" class="form-control" required placeholder="Enter your password..." formControlName="password">
                      </div>
                      <small class="form-text" style="color: red; text-align: right" *ngIf="password.invalid && password.touched">
                        Enter a valid password please!
                      </small>
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <div class="form-check">
                          <mat-checkbox formControlName="agree" color="primary">Remember Me</mat-checkbox>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-primary btn-block text-white btn-user"
                            type="submit"
                            (click)="login(myForm.value)">
                      Login</button>
                    <hr>
                    <a class="btn btn-danger btn-block text-white btn-google btn-user"
                       role="button">
                      <i class="fa fa-google" aria-hidden="true"></i>
                      Login with Google</a>
                    <hr>
                  </form> <div class="text-center">
                  <a class="small" href="#" data-toggle="modal" data-target="#modal-link-forgot">Forgot Password?</a>
                </div>
        
                  <!--popup-->
                  <div class="text-center">
                    <a class="small" href="#" data-toggle="modal" data-target="#signup-modal"  (click)="changeModalToSignup()">Create an Account!</a>
                  </div>
              

                </div>
         
                <div id="modal-link-forgot" class="modal fade">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        
                        <button type="button" class="close" data-dismiss="modal">
                          &times;
                        </button>
                      </div>
                        <div class="modal-body">
                          <app-forgot-password></app-forgot-password>
                         </div>
                        </div>
                         </div>
                         </div>

                         <div id="signup-modal" class="modal fade">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                
                                <button type="button" class="close" data-dismiss="modal">
                                  &times;
                                </button>
                              </div>
                                <div class="modal-body">
                                  <app-signup></app-signup>
                                 </div>
                                </div>
                                 </div>
                                 </div>


