<div class="main-div">

  <!-- ##### Hero Area Start ##### -->
  <section class="hero-area bg-img bg-overlay-2by5" style="background-image: url(../../assets/img/bg-img/bg1.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <!-- Hero Content -->
          <div class="hero-content text-center">
            <h2>Let's Study Together</h2>
            <a href="#" class="btn clever-btn">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Hero Area End ##### -->

  <!-- ##### Cool Facts Area Start ##### -->
  <section class="cool-facts-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Single Cool Facts Area
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                <div class="icon">
                    <img src="../../assets/img/core-img/docs.png" alt="">
                </div>
                <h2><span class="counter">1912</span></h2>
                <h5>Success Stories</h5>
            </div>
        </div> -->

        <!-- Single Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
            <div class="icon">
              <img src="../../assets/img/core-img/star.png" alt="">
            </div>
            <h2><span class="counter">123</span></h2>
            <h5>Dedicated Tutors</h5>
          </div>
        </div>

        <!-- Single Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
            <div class="icon">
              <img src="../../assets/img/core-img/student.png" alt="">
            </div>
            <h2><span class="counter">89</span></h2>
            <h5>Students</h5>
          </div>
        </div>

        <!-- Single Cool Facts Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
            <div class="icon">
              <img src="../../assets/img/core-img/earth.png" alt="">
            </div>
            <h2><span class="counter">56</span></h2>
            <h5>Available Courses</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Cool Facts Area End ##### -->

  <!-- ##### Popular Courses Start ##### -->
  <section class="popular-courses-area section-padding-100-0" style="background-image: url(../../assets/img/core-img/texture.png);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h3>Popular Online Courses</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Popular Course -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="250ms">
            <img src="../../assets/img/bg-img/c1.jpg" alt="">
            <!-- Course Content -->
            <div class="course-content">
              <h4>English Grammar</h4>
              <div class="meta d-flex align-items-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
            </div>
            <!-- Seat Rating Fee -->
            <div class="seat-rating-fee d-flex justify-content-between">
              <div class="seat-rating h-100 d-flex align-items-center">
                <div class="seat">
                  <i class="fa fa-user" aria-hidden="true"></i> 10
                </div>
                <div class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i> 4.5
                </div>
              </div>
              <div class="course-fee h-100">
                <a href="#" class="free">Free</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Popular Course -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="500ms">
            <img src="../../assets/img/bg-img/c2.jpg" alt="">
            <!-- Course Content -->
            <div class="course-content">
              <h4>Vocabulary</h4>
              <div class="meta d-flex align-items-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
            </div>
            <!-- Seat Rating Fee -->
            <div class="seat-rating-fee d-flex justify-content-between">
              <div class="seat-rating h-100 d-flex align-items-center">
                <div class="seat">
                  <i class="fa fa-user" aria-hidden="true"></i> 10
                </div>
                <div class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i> 4.5
                </div>
              </div>
              <div class="course-fee h-100">
                <a href="#">$20</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Popular Course -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-popular-course mb-100 wow fadeInUp" data-wow-delay="750ms">
            <img src="../../assets/img/bg-img/c3.jpg" alt="">
            <!-- Course Content -->
            <div class="course-content">
              <h4>Expository writing</h4>
              <div class="meta d-flex align-items-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
            </div>
            <!-- Seat Rating Fee -->
            <div class="seat-rating-fee d-flex justify-content-between">
              <div class="seat-rating h-100 d-flex align-items-center">
                <div class="seat">
                  <i class="fa fa-user" aria-hidden="true"></i> 10
                </div>
                <div class="rating">
                  <i class="fa fa-star" aria-hidden="true"></i> 4.5
                </div>
              </div>
              <div class="course-fee h-100">
                <a href="#">$45</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Popular Courses End ##### -->

  <!-- ##### Best Tutors Start ##### -->
  <section class="best-tutors-area section-padding-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h3>The Best Tutors in Town</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="tutors-slide owl-carousel wow fadeInUp" data-wow-delay="250ms">

            <!-- Single Tutors Slide -->
            <div class="single-tutors-slides">
              <!-- Tutor Thumbnail -->
              <div class="tutor-thumbnail">
                <img src="../../assets/img/bg-img/t1.png" alt="">
              </div>
              <!-- Tutor Information -->
              <div class="tutor-information text-center">
                <h5>Alex Parker</h5>
                <span>Teacher</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                <div class="social-info">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <!-- Single Tutors Slide -->
            <div class="single-tutors-slides">
              <!-- Tutor Thumbnail -->
              <div class="tutor-thumbnail">
                <img src="../../assets/img/bg-img/t2.png" alt="">
              </div>
              <!-- Tutor Information -->
              <div class="tutor-information text-center">
                <h5>Alex Parker</h5>
                <span>Teacher</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                <div class="social-info">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <!-- Single Tutors Slide -->
            <div class="single-tutors-slides">
              <!-- Tutor Thumbnail -->
              <div class="tutor-thumbnail">
                <img src="../../assets/img/bg-img/t3.png" alt="">
              </div>
              <!-- Tutor Information -->
              <div class="tutor-information text-center">
                <h5>Alex Parker</h5>
                <span>Teacher</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                <div class="social-info">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <!-- Single Tutors Slide -->
            <div class="single-tutors-slides">
              <!-- Tutor Thumbnail -->
              <div class="tutor-thumbnail">
                <img src="../../assets/img/bg-img/t4.png" alt="">
              </div>
              <!-- Tutor Information -->
              <div class="tutor-information text-center">
                <h5>Alex Parker</h5>
                <span>Teacher</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                <div class="social-info">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <!-- Single Tutors Slide -->
            <div class="single-tutors-slides">
              <!-- Tutor Thumbnail -->
              <div class="tutor-thumbnail">
                <img src="../../assets/img/bg-img/t5.png" alt="">
              </div>
              <!-- Tutor Information -->
              <div class="tutor-information text-center">
                <h5>Alex Parker</h5>
                <span>Teacher</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi fermentum laoreet elit, sit amet tincidunt mauris ultrices vitae.</p>
                <div class="social-info">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Best Tutors End ##### -->

  <!-- ##### Blog Area Start ##### -->
  <section class="blog-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading">
            <h3>From Our Blog</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Area -->
        <div class="col-12 col-md-6">
          <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="250ms">
            <img src="../../assets/img/blog-img/1.jpg" alt="">
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="#" class="blog-headline">
                <h4>English Grammer</h4>
              </a>
              <div class="meta d-flex align-items-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
            </div>
          </div>
        </div>

        <!-- Single Blog Area -->
        <div class="col-12 col-md-6">
          <div class="single-blog-area mb-100 wow fadeInUp" data-wow-delay="500ms">
            <img src="../../assets/img/blog-img/2.jpg" alt="">
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="#" class="blog-headline">
                <h4>English Grammer</h4>
              </a>
              <div class="meta d-flex align-items-center">
                <a href="#">Sarah Parker</a>
                <span><i class="fa fa-circle" aria-hidden="true"></i></span>
                <a href="#">Art &amp; Design</a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim nulla, mollis eu metus in, sagittis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Blog Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
 
</div>



